[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fst4pg"]
	path = fst4pg
	url = https://github.com/cran/fst4pg
[submodule "qch"]
	path = qch
	url = https://github.com/cran/qch
